@import '../Helpers/mixin';
@import '../Helpers/variabler';

body {
    @include sidepadding;
    overflow-x: hidden;

    .layoutTitle {
        font-family: $headerFont;
        font-weight: 200;
        font-size: 30pt;
        color: $Primary;
    }
}