@import '../Helpers/mixin';
@import '../Helpers/variabler';


.header {
    div {
        display: grid;
        grid-template-columns: auto auto;

        img {

            width: 20vw;
        }

    }

}