@import '../Helpers/mixin';
@import '../Helpers/variabler';



//Highligt header
.highlight {
    @include figure;

    figure {
        display: grid;
        grid-template-columns: 20% 80%;
        height: 40vh;

        img {
            width: 40vh;
        }

        figcaption {
            article {
                text-align: end;
                padding: 0.5em;

                hr {
                    width: 70%;
                    border: $hrline;

                }



                h3 {

                    color: $Primary;
                }
            }
        }
    }


}

//Liste på forside
.homelist {


    @include figure;
    @include button;
    display: grid;
    grid-template-columns: auto auto auto;

    figure {

        img {
            object-position: 50% 50%;
            width: 100%;
            object-fit: cover;

        }

        hr {
            width: 50%;
            border: $hrline;

        }

        article {
            padding: 1em;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            align-content: stretch;
        }

    }

    button {

        background-color: $Primary;
    }
}

//Forstilliger og events liste
.eventlist {
    @include figure;



    figure {
        display: grid;
        grid-template-columns: 10% auto;
        height: 15%;
        width: 100%;
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;

        figcaption {
            article {
                display: grid;
                grid-template-columns: 25% 50% 12.5% 12.5%;
                @include button;

                h3 {
                    border-right: $hrline;
                    padding: 0.5em;
                    color: $Primary;
                }

                span {
                    padding-left: 0.5em;
                    display: grid;
                    grid-template-rows: auto auto;


                }


            }

            background-color: transparent;
        }
    }


}

//Event details
.eventdetails {
    @include figure;
    @include button;

    figure {
        img {
            width: 10vw;
        }

        figcaption {
            span {
                border-bottom: $hrline;

                p {
                    color: black;
                    text-transform: uppercase
                }
            }

            button {
                background-color: $Primary;
                left: 90%;
                position: absolute;
            }

            p {
                @include space;
                color: $Primary;
            }
        }
    }


}

//Skuespiller liste
.actorlist {
    border: solid 1px $Primary;
    margin-bottom: 5%;


    figure {
        border-bottom: $hrline;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30vh;


        img {
            height: 25vh;
        }

        figcaption {
            padding-left: 1em;

            h3 {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            p {
                color: $Primary;
            }
        }

        .btnreadmore {
            background-color: $Tertiary;
            padding: 1em;
            height: 7vh;
            margin: 1em;
            margin-top: 100%;
        }

        a {
            text-decoration: none;
            color: white;
        }

    }
}

//Actors details
.actorsdetails {
    border: solid 1px $Primary;
    margin-bottom: 2%;

    h1 {

        padding-left: 1em;
    }

    figure {
        display: grid;
        grid-template-columns: auto auto;

        figcaption {
            padding-left: 1em;

            h3 {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            p {
                color: $Primary;
                @include space;
            }
        }
    }
}

.actorswrapper {
    margin-bottom: 10%;
}

.actorbtn {
    border: solid 0.5px $Primary;
    background-color: $Primary;
    text-transform: uppercase;
    padding: 1em;
    position: absolute;
    right: 5.5%;



    a {
        text-decoration: none;
        color: #fff;
    }
}