@import '../Helpers/mixin';
@import '../Helpers/variabler';

//Highligt header
.highlight {
    @include figure;

    figure {
        display: grid;
        grid-template-columns: auto auto;
    }


}

//Liste på forside
.homelist {
    @include figure;
    @include button;
    display: grid;
    grid-template-columns: auto auto auto;

    figure {


        hr {
            width: 50%;
            border: solid 0.2px rgb(228, 228, 228);

        }

        article {
            padding: 1em;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            align-content: stretch;
        }

    }

    button {

        background-color: $Primary;
    }
}

.eventlist {
    @include figure;
    @include button;

    figure {
        display: grid;
        grid-template-columns: auto auto;
    }

}