@import '../Helpers/mixin';
@import '../Helpers/variabler';

.loginwrapper {
    border: solid 1px $Primary;
    padding-left: 1em;
    padding-right: 1em;
    font-family: $TextFont;
    margin-bottom: 5%;

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;

        button {
            @include button;
            background-color: $Primary;
            color: white;
            padding: 1em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            border: none;
            cursor: pointer;

        }

        p {
            text-transform: uppercase;

        }

    }

    .loginform {
        height: 50%;

        input {
            @include input;
            margin-left: 0;
            margin-bottom: 10px;
            padding: 5px 5px;
            display: block;
            width: 20%;
            height: 3vh;

            @media (width < $mobile) {
                width: 80%;

            }

            @media (width < $tablet) {
                width: 50%;

            }
        }

        //Style af knapper
        button {
            @include button;
            background-color: $Primary;
            color: white;
            padding: 1em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;

        }

    }

    //Min side/admin
    h3 {
        svg {
            color: $Secondary;

        }
    }

    button {
        padding: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        border: none;
    }


    table {
        border-collapse: collapse;
        width: 100%;
        background-color: white;
        text-transform: uppercase;
        margin-bottom: 5%;

        td {
            border-bottom: $hrline;
        }

        th {

            text-align: left;


        }

        .delete {
            background-color: transparent;
            color: red;
            text-align: end;
        }

        .edit {
            color: green;
            text-align: left;

        }
    }



}

//Review form
.reviewwrapper {

    background-color: $Secondary;
    color: white;
    padding-left: 1em;

    .loginevent {
        section {
            border: none;

            h1 {
                display: none;
            }



            form {
                label {
                    display: none;
                }

                input {
                    @include input;

                    display: block;


                }

                button {
                    @include button;
                    background-color: rgb(144, 247, 184);
                    color: white;
                    padding: 1em;
                    margin-left: 2em;
                    margin-bottom: 0.5em;


                    display: inline-block;
                }
            }
        }
    }

}

//Login delen på review
//Formen fra post review
.postreview {

    form {
        height: 50%;

        input {
            @include input;
            margin-left: 0;
            margin-bottom: 10px;
            padding: 5px 5px;
            display: block;
            width: 80%;
            height: 3vh;


        }



        textarea {
            border: none;
            resize: none;
            @include input;
            margin-left: 0;
            padding: 5px 5px;
            display: inline;
            width: 80%;
            height: 20vh;
        }

        //Style af knapper
        button {
            @include button;
            background-color: $Primary;
            color: white;
            padding: 1em;
            margin-left: 2em;
            margin-bottom: 0.5em;


            display: inline;

        }

    }
}