@import '../Helpers/mixin';
@import '../Helpers/variabler';

//Vores input og søge form
.searchform {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding-top: 1.5em;
    padding-bottom: 3em;

    input {
        text-transform: uppercase;
        border: none;
        border-bottom: solid 2px rgb(228, 228, 228);
    }

    button {
        border: none;
        background-color: transparent;
        border-bottom: solid 2px rgb(228, 228, 228);

    }
}

//Article under Result der tager alt indhold på det søgte ord

.searchlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 30%;
    left: 80%;
    background-color: $Primary;
    display: block;

    // @include figure;


    figure {
        border-color: #fff;

        display: grid;
        grid-template-columns: auto auto;

        &:hover {
            color: #fff;
        }

        img {
            width: 5vh;
        }


    }
}