@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Titillium+Web:wght@300&display=swap');
//COLOR KODE
$Primary: #D39D5B;
$Secondary: #AD7A51;
$Tertiary: #30454C;
//FONTS
$headFont: 'Playfair Display', serif;
$secondFont: 'Titillium Web', sans-serif;



//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;